.root {
    -fx-base: #333333;
    -fx-background-color: rgba(29, 29, 29, 1);

    -fx-border-color: darkgrey;
    -fx-border-radius: 2px;
}

.metroGraphicButton {
    -fx-background-color: transparent;
    -fx-padding: 0, 0, 0, 0;
    -fx-border-color: transparent transparent !important;
    -fx-border-insets: 0 0 0 0, 0 !important;
    -fx-border-width: 0, 0 !important;
}

.chatBarButton {
    -fx-padding: 5, 10, 5, 10 !important; /* Override padding from metrographicbutton to fit properly. */
}
.chatBarButton:hover {
    -fx-background-radius: 0;
    -fx-background-color: azure;
}

.dragTab {
    -fx-image: url("../image/resizeSE.png");
}
