.titleText {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20;

}


.metroGraphicButton {
    -fx-background-color: transparent;
    -fx-padding: 0, 0, 0, 0;
    -fx-border-color: transparent transparent !important;
    -fx-border-insets: 0 0 0 0, 0 !important;
    -fx-border-width: 0, 0 !important;
}

.exitButton {
    -fx-graphic: url("../../image/close.png");
}

.exitButton:hover {
    -fx-background-radius: 0;
    -fx-background-color: azure;
}

.minimizeButton {
    -fx-graphic: url("../../image/minimize.png");
}

.minimizeButton:hover {
    -fx-background-radius: 0;
    -fx-background-color: azure;
}

.buttonMaximize {
    -fx-graphic: url("../../image/maximize.png");
}

.buttonMaximize:hover {
    -fx-background-radius: 0;
    -fx-background-color: azure;
}

.buttonRestore {
    -fx-graphic: url("../../image/restore.png");
}

.buttonRestore:hover {
    -fx-background-radius: 0;
    -fx-background-color: azure;
}

.contentBorder {
    -fx-border-color: transparent transparent -fx-text-box-border transparent,
    -fx-shadow-highlight-color transparent transparent transparent;
    -fx-border-insets: 0, 1 0 0 0;
    -fx-border-width: 0 0 2 0;
}